@import "~assets/less/bgavatar";
.message-item{
    background-color:rgba(238, 238, 238, 0.5);
    padding:0.4em;
    border-radius: 10px;
}
.mesage-top{
    span.prev-text{
        color:#aaa;
        font-size:0.6em;
    }
    span.essay-title{
        margin:0 0.6em;
    }
    span.message-count{
        padding:0.2em 0.6em;    
        border-radius: 2px;
        font-family: "黑体","微软雅黑";
        background-color: rgba(238, 238, 238, 0.411);
        font-weight:bold;
    }
}

.toggle-btn{
    margin:0.6em 0;
    font-size:0.6em;
    color:#999;
    span{
        cursor: pointer;
    }
}
.comment-message-lists{
    margin-top:0.6em;
    .comment-message-item{
        display: flex;
        line-height:36px;
        margin:0.6em 0;
        .comm-username{
           font-size:0.8em;
        }
        .pre-commconten{
            color:#666;
            font-size:0.6em;
            margin:0 0.4em;
        }
        span.comm-time{
            color:#aaa;
            font-size:0.4em;
            margin-left:100px;
        }
    }
}